@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: Inter, sans-serif;

	--yellow: oklch(82% 0.17 080);
	--green: oklch(79% 0.18 156);
	--cyan: oklch(79% 0.13 200);
	--blue: oklch(72% 0.15 270);
	--violet: oklch(76% 0.17 310);
	--magenta: oklch(76% 0.18 345);

	--darkest: oklch(17% 0.01 266);
	--darker: oklch(29% 0.01 266);
	--dark: oklch(38% 0.01 266);
	--light: oklch(72% 0.01 266);
	--lighter: oklch(82% 0.01 266);
	--lightest: oklch(98% 0.01 266);
}

body {
	display: flex;
	justify-content: center;
	color: var(--lightest);
	background-color: var(--darkest);
	background-image:
		radial-gradient(var(--darker) 1.4px, transparent 1.4px),
		radial-gradient(var(--darker) 1.4px, var(--darkest) 1.4px);
	background-size: 64px 64px;
	background-position: 0 0, 32px 32px;
}

main {
	max-width: 79ch;
	margin-inline: 1ch;
  overflow: scroll;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: "Inter Tight", sans-serif;
}

a {
	font-weight: 600;
	color: var(--blue);
	text-decoration: none;
}

a:visited {
	color: var(--violet);
}

a:hover {
	text-decoration: 2px underline;
}

table * {
	text-align: start;
	vertical-align: top;
}

thead th:not(:empty) {
	min-width: 9ch;
}

.profile-image {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1;
	object-fit: contain;
}

.haiku {
	font-style: italic;
	padding-inline-start: 3ch;
	width: fit-content;
	text-align: center;
}

.bg-light {
	color: var(--darkest);
	background-color: var(--light);
}

.bg-yellow {
	color: var(--darkest);
	background-color: var(--yellow);
}

.bg-green {
	color: var(--darkest);
	background-color: var(--green);
}

.bg-cyan {
	color: var(--darkest);
	background-color: var(--cyan);
}

.bg-magenta {
	color: var(--darkest);
	background-color: var(--magenta);
}
