@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	/* Extra item B (non-default font): Inter via Google web fonts */
	font-family: "Inter", sans-serif, system-ui;

	transition-duration: 90ms;

	--red: oklch(68% 0.20 015);
	--light-red: oklch(76% 0.14 015);
	--orange: oklch(76% 0.16 055);
	--light-orange: oklch(82% 0.12 055);
	--yellow: oklch(82% 0.17 080);
	--light-yellow: oklch(88% 0.12 082);
	--green: oklch(79% 0.18 156);
	--light-green: oklch(88% 0.16 156);
	--cyan: oklch(79% 0.13 200);
	--light-cyan: oklch(88% 0.14 200);
	--blue: oklch(72% 0.15 270);
	--light-blue: oklch(79% 0.12 270);
	--violet: oklch(76% 0.17 310);
	--light-violet: oklch(82% 0.12 310);
	--magenta: oklch(76% 0.18 345);
	--light-magenta: oklch(82% 0.14 345);
	--darkest: oklch(17% 0.01 266);
	--darker: oklch(29% 0.01 266);
	--dark: oklch(38% 0.01 266);
	--light: oklch(72% 0.01 266);
	--lighter: oklch(82% 0.01 266);
	--lightest: oklch(98% 0.01 266);
}

body {
	display: flex;
	justify-content: center;
	color: var(--lightest);
	background-color: var(--darkest);
	/* Extra item A (repeating background image): subtle polka dots */
	background-image:
		radial-gradient(var(--darker) 1.4px, transparent 1.4px),
		radial-gradient(var(--darker) 1.4px, var(--darkest) 1.4px);
	background-size: 64px 64px;
	background-position: 0 0, 32px 32px;
}

main {
	max-width: 79ch;
	margin-inline: 1ch;
	overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Inter Tight";
	font-weight: 900;
}

ol,
ul {
	padding-inline-start: 3ch;
}

li>strong {
	margin-inline-end: 0.5ch;
}

/* Extra item D (hyperlink underline on hover only) */
a {
	font-weight: 600;
	color: var(--blue);
	text-decoration: none;
}

a:visited {
	color: var(--violet);
}

a:hover {
	text-decoration: 2px underline;
}

.profile-image {
	max-width: 500px;
	max-height: 500px;
	object-fit: contain;
}

table {
	border: 1px solid var(--dark);
	border-spacing: 3px;
	border-radius: 6px;
}

/* Extra item F1 (table text alignment) */
table * {
	text-align: start;
	vertical-align: top;
}

th,
td {
	padding: 3px;
	border-radius: 3px;
}

:where(th, td):not(:empty) {
	border: 1px solid var(--dark);
	background-color: var(--darkest);
}

/* Extra item F3 (equal column widths) */
thead th {
	width: 9ch;
}

:where(th, td)[class*="bg-"] {
	border: none;
}

/* Extra item E (center or indent poem) */
.haiku {
	font-style: italic;
	padding-inline-start: 3ch;
	width: fit-content;
	text-align: center;
}

/* Extra item F2 (color-code schedule items) */
.bg-light {
	color: var(--darkest);
	background-color: var(--light);
}

.bg-yellow {
	color: var(--darkest);
	background-color: var(--yellow);
}

.bg-green {
	color: var(--darkest);
	background-color: var(--green);
}

.bg-cyan {
	color: var(--darkest);
	background-color: var(--cyan);
}

.bg-magenta {
	color: var(--darkest);
	background-color: var(--magenta);
}